* {
    font-family: "Georgia", "Garamond", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


body {
  background-color: lemonchiffon;
}

header {
    padding: 20px;
    background-color: lightsalmon;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

section {
    position: relative;
}
section figure {   
    display: flex;
    justify-content: center;
}
section figure img {
    position: relative;
    border: 15px solid white;
    width: 25%;
    height: 400px;
}

.backgroundimg {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-photo-310452.jpeg");
    background-size: cover;
    background-position: center;
}